*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
.header{
    height: 700px;
    width: 1910px;
    background-image: url(Assets/original.jpeg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.blackbox{
    height: 700px;
    width: 1900px;
    background-color: #0000006b;
    /* display: flex; */
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    /* backdrop-filter: blur(1px) */
}
.navbar{
    margin: 0 auto;
    height: 100px;
    width: 1770px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-logo{
    height: 100px;
    width: 187px;
}
.navbar-logo img{
    height: 74px;
    width: 98px;
    filter: contrast(4);
}
.navbar-login{
    height: 100px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-login button{
    height: 45px;
    width: 85px;
    background-color: transparent;
    color: rgb(188, 188, 188);
    font-family: "Open Sans", sans-serif;
    font-size: 1.15rem;
    font-weight: bold;
    border: none;
    text-align: center;
    transition-duration: 0.5s;
}
.navbar-login button:hover{
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(88, 88, 88);
    color: white;
}

.header-hero{
    margin: 0 auto;
    height: 600px;
    width: 737px;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    /* backdrop-filter: blur(2px); */
}
.header-hero-subs{
    height: 300px;
    width: 737px;
    /* background-color: rgba(255, 255, 255, 0.612); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-hero-subs-item{
    height: 250px;
    width:350px;
    /* background-color: rgba(255, 255, 255, 0.612); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.header-hero-subs-item P{
    font-family: "Open Sans", sans-serif;
    font-size: 0.85rem;
    font-weight: bolder;
    color: #00ED82;
}
.header-hero-subs-item-logo{
    display: flex;
    height: 58px;
    width: 180px;
}
.header-hero-subs-item-logo img{
    height:58px;
    width: 180px;
}
.header-hero-subs-item-logo img:nth-child(2){
    filter: invert(1);
}
.header-hero-subs-item h1{
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif;
    color: white;
    font-weight: 600;
    text-align: center;
    line-height: 35px;
}
.header-hero-subs-item button{
    background-color:#00ED82;
    border: none;
    height: 39px;
    width: 313px ;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size:0.85rem;
    transition-duration: 0.2s;
}
.header-hero-subs-item button:hover{
    cursor: pointer;
    background-color:#06a35d ;
}
.termsapply{
    font-size:0.85rem;
    color: white;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}
.signupforhuluonly{
    font-size:1.15rem;
    color: white;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}
.viewmore{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
}
.viewmore p{
    color: white;
    font-size:0.85rem;
    font-family: "Open Sans", sans-serif;
    font-weight: bolder;
}
.viewmore img{
    height: 75px;
    width: 75px;
    filter: invert(1);
}

.buildPlan{
    height: 150px;
    width: 1910px;
    /* border: 2px solid red; */
    background-image: linear-gradient(180deg, #0d8f54, #0a7042, #000000e3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.buildPlan h2{
    color: white;
    font-size:1.2rem;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}
.buildPlan button{
    height: 50px;
    width: 280px;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid white;
    color: white;
    font-size:0.9rem;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    transition-duration: 0.2s;
    text-align: center;
}
.buildPlan button:hover{
    background-color: rgb(202, 202, 202);
    color: black;
    cursor: pointer;
    border: none;
}

.main-sec1{
    width: 1920px;
    height: 1400px;
    background-color: #0b0c0f;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.main-sec1-herotag{
    margin-top: 50px;
    height: 260px;
    width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; 
    text-align: center;
}
.main-sec1-herotag p{
    font-family: "Open Sans", sans-serif;
    font-size:0.9rem;
    font-weight: 700;
    color: #00ED82;
}
.main-sec1-herotag h1{
    font-size: 3rem;
    color: white;
    font-family: "Open Sans", sans-serif;
}
.main-sec1-herotag p:nth-child(3){
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
    font-size: 1.3rem;
}
.main-sec1-heroitems{
    height: 500px;
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-sec1-heroitems-itemContainer{
    height: 500px;
    width:310px;
    border-radius: 12px;
    position: relative;
    top: 0;
    left: 0;
}
.main-sec1-heroitems-itemContainer img {
    height: 500px;
    width: 310px;
    border-radius: 12px;
    position: absolute;
    left: 0;
    top: 0;
    /* z-index: 1; */
    border: 5px solid transparent;
    transition: border-color 0.3s;
}
.main-sec1-heroitems-itemContainer:hover img {
    border-color: rgb(126, 125, 125);
    cursor: pointer;
}
.main-sec1-heroitems-itemContainer-blackbox:hover{
    cursor: pointer;
}
.main-sec1-heroitems-itemContainer-blackbox{
    height: 500px;
    width: 310px;
    border-radius: 5px;
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 1;
    background-color: rgb(0 0 0 / 42%);
}
.main-sec1-heroitems-itemContainer p{
    position:absolute;
    z-index:2;
    left: 10px;
    top: 10px;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 1.15rem;
    font-weight: 600;
}
.main-sec1-heroitems-itemContainer h1{
    position:absolute;
    z-index:2;
    left: 10px;
    top: 40px;
    font-family: "Open Sans", sans-serif;
    color: white;
    font-weight: 600;
}
.main-sec1-footertag{
    height: 450px;
    width: 1210px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    text-align: center;
}
.main-sec1-footertag p{
    color: #00ED82;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size:0.9rem ;
}
.main-sec1-footertag h1{
    font-size: 3rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}
.main-sec1-footertag h2{
    font-size: 1.125rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}
.main-sec1-footertag button{
    height: 55px;
    width: 204px;
    border: none;
    border-radius: 5px;
    background-color: #00ED82;
    font-size: 0.9rem;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    transition-duration: 0.2s;
}
.main-sec1-footertag button:hover{
    cursor: pointer;
    background-color: #06a35d;
}
.main-sec1-footertag p:nth-child(5){
    color: rgb(100% 100% 100% / 0.6);
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}
.main-sec1-footertag a{
    font-size: 1.125rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: rgb(100% 100% 100%);
}

.main-sec2{
    height: 850px;
    width: 1910px;
    background-image: url(Assets/background.jpeg);
    background-position: center 0px;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-sec2-blackbox{
    height: 850px;
    width: 1910px;
    background-color: rgb(0 0 0 / 45%);
    position: relative;
    left: 0;
    top: 0;
}
.main-sec2-blackbox-herotag{
    position: absolute;
    left: 160px;
    top: 254px;
    height: 446px;
    width: 470px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.main-sec2-blackbox-herotag-slider{
    display: flex;
    height:50px;
    width:500px;
    align-items:flex-start;
    justify-content: space-between;
}
#main-sec2-blackbox-herotag-slider-p{
    color: white;
    font-size: 0.9rem;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}
.main-sec2-blackbox-herotag h1{
    color: white;
    font-size: 3rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 800;
}
.main-sec2-blackbox-herotag p{
    color: white;
    font-size: 1.125rem;
    font-family: "Open Sans", sans-serif;
}
.main-sec2-blackbox-herotag-newtworkLogo{
    height: 100px;
    width: 240px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-sec2-blackbox-herotag-networkLogo-item{
    height: 50px;
    width: 50px;
    border: 1px solid white;
    border-radius: 50px;
    background-color: white;
}
.main-sec2-blackbox-herotag-networkLogo-item img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    object-fit: cover;
}
#main-sec2-blackbox-herotag-footertag{
    color: rgb(100% 100% 100% / 0.6);
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}


.main-sec3{
    height: 1600px;
    width: 1910px;
    background-color: #0b0c0f;
}
.main-sec3-herotag{
    height: 220px;
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.main-sec3-herotag h1{
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 3rem;
    font-weight: 600;
}
.main-sec3-herotag p{
    font-family: "Open Sans", sans-serif;
    color: white;
    font-size: 1.125rem;
    font-weight: 400;
    text-align: center;
}
.main-sec3-herotag-bundle{
    height: 45px;
    width:250px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    justify-content:space-between;
    padding:2px 20px;
    background-color: #272c34;;
}
.main-sec3-herotag-bundle h2{
    color: white;
    font-size: 0.9rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}
.main-sec3-herotag-bundle h2:nth-child(2){
    background-color: #fff;
    color: black;
    padding: 10px;
    border-radius: 50px;
}
.divider{
    background-color:rgb(100% 100% 100% / 0.6) ;
    height: 1px;
    width: 1220px;
    margin: 0 auto;
    margin-top: 20px;
}


.main-sec3-subs{
    height: 220px;
    width: 820px;
    margin: 0 auto;
    background-color: #0b0c0f;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    position: sticky;
    top: 0;
    z-index: 10;
}
.main-sec3-subs-bundleItems{
    height: 220px;
    width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.main-sec3-subs-bundleItems p{
    color: white;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
}
.main-sec3-subs-bundleItems h3{
    color: white;
    font-size: 1.125rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}
.main-sec3-subs-bundleItems-logos{
    height: 90px;
    width: 235px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-sec3-subs-bundleItems-logos-hulu_disney img{
    height: 90px;
    width: 105px;
    object-fit: cover;
}
.main-sec3-subs-bundleItems-logos-hulu_disney img:nth-child(2){
    filter: invert(1);
}
.main-sec3-subs-bundleItems button{
    height: 50px;
    width: 214px;
    border: none;
    border-radius: 5px;
    color: black;
    font-size:0.9rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    transition-duration: 0.2s;
}
.main-sec3-subs-bundleItems button:hover{
    background-color: rgb(186, 186, 186);
    cursor: pointer;
    transform: scale(0.9);
}
.main-sec3-subs-bundleItems-logos-hulu_disney_espn img{
    height: 61px;
    width:78px;
    object-fit: cover;
}
.main-sec3-subs-bundleItems-logos-hulu_disney_espn img:nth-child(2){
    filter: invert(1);
}

.main-sec3-subValue{
    margin: 0 auto;
    height: 1000px;
    width: 1200px;
}
.main-sec3-subValue-table {
    border-collapse: collapse;
    font-size: 0.9rem;
    font-family: "Open Sans", sans-serif;
    color: white;
}
.main-sec3-subValue-table tr {
    height: 75px;
    border-bottom: 1px solid rgb(146, 146, 146); 
}
.main-sec3-subValue-table tr span{
    display: block;
    text-decoration: line-through;
}
.main-sec3-subValue-table td {
    padding: 8px;
}
.main-sec3-subValue-table td img {
    height: 30px;
    width: 30px;
    filter: contrast(2);
}

.footer{
    height: 490px;
    width: 1910px;
    background-color: #e8eaed;
}
.footer-content{
    height: 490px;
    width:1350px;
    margin: 0 auto;
}
.footer-content-item{
    height: 300px;
    width: 1350px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer-content-item-links{
    height:168px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.footer-content-item-links h2{
    font-size: 0.9rem;
    font-family: "Open Sans", sans-serif;
    color: #272c34;
    font-weight: 600;
}
.footer-content-item-links a{
    text-decoration: none;
    color: #586174;
    font-size: 0.9rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}
.footer-content-divider{
    height: 2px;
    width: 1350px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: rgba(171, 171, 171, 0.688);
}
.footer-content-social{
    height:65px;
    width: 275px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-content-social img{
    height: 50px;
    width: 50px;
}
.footer-content-social img:hover{
    cursor: pointer;
}
.footer-content-lastrow{
    margin-top: 10px;
    height: 50px;
    width: 1350px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-content-lastrow a{
    text-decoration: none;
    color: #586174;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}
.footer-content-lastrow p{
    text-decoration:underline;
    color: #586174;
    font-size: 13px;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

@media  screen and (max-width:1250px) {
    
}